* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

@font-face {
  font-family: "Raleway";
  src: url("../fuentes/Raleway-ExtraLight.ttf");
}

@font-face {
	font-family: "TW Cen MT";
	src: url("../fuentes/Tw Cen MT.woff");
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	background-color: #00b0dd;

	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

::-webkit-scrollbar-button {
      background-color: #00b0dd;
}

body {
	background: white;
	overflow: hidden;
}

/*Estilos Header*/

.FondoHeader {
	background: rgba(0,177,221,1);
    background: linear-gradient(45deg, rgba(0,177,221,1) 0%, rgba(0,177,221,1) 54%, rgba(0,184,221,1) 54%, rgba(0,184,221,1) 55%, rgba(0,184,221,1) 64%, rgba(0,184,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b1dd', endColorstr='#00b8dd', GradientType=1 );
	clip-path: ellipse(90% 76% at 50% 20%);
	height: 450px;
	margin-top: -90px;
}

	.Logo {
		margin-left: 60px;
		padding-top: 20px;
		position: relative;
		transition: all .6s ease;
		z-index: 6;
	}

		.Logo img {
			height: 55px;
			width: 55px;
		}

	.Nombre {
		color: white;
		font-family: Tw Cen MT;
		font-size: 35px;
		font-style: italic;
		font-weight: bold;
		margin-left: 135px;
		position: absolute;
		text-shadow: 1px 2px 0px black, 1px 8px 5px #222;
		top: 32px;
		transition: all .6s ease;
		z-index: 5;
	}

/*Fin Estilos Header*/

/*Estilos BarraH*/

	.BarraH {
		margin-left: 700px;
		margin-top: -45px;
		position: absolute;
		font-family: "Raleway";
		font-size: 26px;
		width: 27%;
		z-index: 10;
	}

		.menu li {
			display: inline-block;
			margin-left: 25px;
		}

		.menu li:before {
			background: #fff;
			bottom: -35px;
			content: "";
			display: block;
			height: 1.5px;
			left: 50%;
			position: relative;
			transition: all .3s ease;
			width: 0;
		}

		.menu li:hover:before {
			left: 0;
			width: 100%;
		}

			.menu li .M {
				color: white;
				text-decoration: none;
			}

			.menu li .M:hover{
				font-weight: bold;
			}

/*Fin Estilos BarraH*/

/*Estilos Botón Log*/

		.Usuario {
			color: white;
			cursor: pointer;
			font-size: 28px;
			margin-left: 38px;
			margin-top: -26px;
			position: absolute;
			width: 43%;
			z-index: 10;
		}

			.Usuario span:hover {
				font-weight: bold;
			}

		.menu2 {
			animation-duration: 1s;
		  	animation-fill-mode: both;
		  	animation-name: fadeInUsu;
			background: rgba(0,0,0,0.7);
			border-radius: 10px;
			height: 125px;
		  	position: absolute;
		  	width: 107%;
		}

@keyframes fadeInUsu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

				.menu2 li {
					font-size: 22px;
					margin-left: 25px;
					margin-top: 10px;
				}

				.menu2 .Perfil {
					font-weight: bold;
				}

				.menu2 li:before {
					background: none;
				}

					.menu2 li .M2 {
						color: white;
						display: block;
						text-decoration: none;
					}

					.menu2 li .M2:hover {
						font-weight: bold;
					}

					.BarraH li .menu2 {
						display: none;
					}

					.BarraH .Usuario:hover > .menu2   {
						display: block;
					}

/*Fin Estilos Botón Log*/

/*Estilos Article*/

.Contenedor {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
	height: 400px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 50%;
	z-index: 1;
}

	.Titulo {
		color: #4e5056;
		font-family: Tw Cen MT;
		font-size: 28px;
		font-weight: bold;
		margin-top: 26px;
		text-align: center;
	}

	.Titulo:before {
		background: #ddd;
		bottom: -60px;
		content: "";
		display: block;
		height: 1.5px;
		margin: auto;
		position: relative;
		width: 100%;
	}

	.Profile {
		margin-top: 20px;
	}

		.Container {
			text-align: center;
		}

			.input-group {
				margin-left: -15px;
				margin-top: 20px;
			}

				.input-group label {
					display: inline-block;
					font-family: Tw Cen MT;
					font-size: 22px;
					text-align: right;
					width: 105px;
				}

				.input-group input {
					margin-left: 10px;
					width: 33%;
				}

				.usuario {
			        border-color: black;          
			        box-shadow: 1px 1px 10px 1px black;
			        font-family: Tw Cen MT;
			        font-weight: bold;
			        font-size: 22px;
			        font-style: italic;
			        height: 32px;
			        padding-left: 10px;
			        transition: all .5s ease;
			    }

			    .usuario:focus {
			        outline: none;
			    }

			    .correo {
			        border-color: black;          
			        box-shadow: 1px 1px 10px 1px black;
			        font-family: Tw Cen MT;
			        font-weight: bold;
			        font-size: 22px;
			        font-style: italic;
			        height: 32px;
			        padding-left: 10px;
			        transition: all .5s ease;
			    }

			    .correo:focus {
			        outline: none;
			    }

		.Buttons {
			margin-top: 30px;
			text-align: center;
		}	

		.Buttons:before {
			background: #ddd;
			bottom: -70px;
			content: "";
			display: block;
			height: 2px;
			margin: auto;
			position: relative;
			width: 100%;
		}	

			.Buttons input {
			    border-radius: 3px 3px 3px 3px;
			    cursor: pointer;
				font-family: TW Cen MT;
				font-size: 20px;
				font-style: italic;
				font-weight: bold;
				height: 34px;
				margin-left: 20px;
				transition: all .3s ease;
			}  

		    .Buttons input:focus {
		      outline: none;
		    }

				.btn-update {
					background-color: MediumSeaGreen;
					border-color: MediumSeaGreen;
					width: 26%;
				}   

				.btn-update:hover {
			    	background-color: #5CC78C;
			    	border-color: #5CC78C;
			    }      

			    .btn-change {
					background-color: #00b0dd;
					border-color: #00b0dd;
					width: 28%;
				}   

				.btn-change:hover {
			    	background-color: #3AB7D7;
			    	border-color: #3AB7D7;
			    }  

		.Delete {
			margin-top: 66px;
			text-align: center;
		}

			.Delete a {
				background-color: tomato;
				border-color: tomato;
			    border-radius: 3px 3px 3px 3px;
		    	box-shadow: 1px 1px 1px 0 black;
		    	color: black;
				font-family: TW Cen MT;
				font-size: 20px;
				font-style: italic;
				font-weight: bold;
				height: 34px;
				margin-left: 20px;
				padding: 5px 16px;
				text-decoration: none;
				transition: all .3s ease;
				width: 26%;
			} 

			.Delete a:hover {
				background-color: #FF755C;
			    border-color: #FF755C;
			} 

/*Fin Estilos Article*/

/*Estilos Ventana Modal*/

.modal-wrapper {
   opacity: 0;
   position: absolute;
   visibility: hidden;
}
 
.modal-wrapper:target {
   background-color: rgba(0,0,0,0.6);
   bottom: 0;
   left: 0;
   margin: 0;
   opacity: 1;
   position: fixed;
   right: 0;
   top: 0;
   transition: all .3s;
   visibility: visible;
   z-index: 2000;
}

	.popup-contenedor {
	   background-color: white;
	   border: 1px solid #dbdcdf;
	   bottom: 0;
	   border-radius: 10px;
	   height: 380px;
	   left: 0;
	   margin: auto;
	   position: absolute;
	   right: 0;
	   top: 0;
	   width:30%;
	}

		.Encabezado {
			background-color: #f4f5f9;
			border-radius: 10px 10px 0 0;
			height: 50px;
			padding-left: 40px;
			width: 100%;
		}

			.Titulo2 {
				color: #4e5056;
				font-family: TW Cen MT;
				font-size: 22px;
				font-weight: 700;
				margin-top: 12px;
				position: absolute;
			}
	
			.popup-cerrar {
			   color: #7c808b;
			   font-family: TW Cen MT;
			   font-size: 23px;
			   font-weight: 700;
			   margin-top: 11px;
			   position: absolute;
			   right: 40px;
			   text-decoration: none;
			   transition: all .3s;
			}

			.popup-cerrar:hover {
				color: #4e5056;
			}

			.P1 {
				color: #424242;
				font-family: TW Cen MT;
				font-size: 20px;
				margin: 30px 40px 0 40px;
			}

			.P2 {
				color: #424242;
				font-family: TW Cen MT;
				font-size: 20px;
				margin: 20px 0px 0 0px;
				text-align: left;
				width: 100%;
			}

			.Container {
			    padding: 20px 40px 0 40px;
			    text-align: center;
			}

			    .pass {
		          border-color: black;          
		          box-shadow: 1px 1px 10px 1px black;
		          font-family: Tw Cen MT;
		          font-weight: bold;
		          font-size: 20px;
		          font-style: italic;
		          height: 35px;
		          padding-left: 10px;
		          transition: all .5s ease;
		          width: 80%;
		        }

		        .pass:focus {
		          outline: none;
		        }	

		        #change {
		          height: 32px;
		          position: absolute;
		          right: 80px;
		          top: 146px;
		          width: 32px;
		        }

		        #change.eye {
		          background: url("../imagenes/eye1.png");
		          background-size: cover;
		        }

		        #change.eye2 {
		          background: url("../imagenes/eye2.png");
		          background-size: cover;
		        }

		        .btn-submit {
			      background-color: #D5D8DC;
			      border-color: black;
			      box-shadow: 1px 1px 10px 1px black;
			      border-radius: 3px 3px 3px 3px;
			      cursor: pointer;
			      font-family: Tw Cen MT;
			      font-size: 20px;
			      font-style: italic;
			      font-weight: bold;
			      height: 35px;
			      margin-top: 24px;
			      transition: all .3s ease;
			      width: 80%;
			    }

			    .btn-submit:hover {
			      background-color: #eceff1;
			    } 

			    .btn-submit:focus {
			      outline: none;
			    }

/*Fin Estilos Ventana Modal*/

